---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={'Home'} description={HOME.DESCRIPTION}>
  <Container>
    <h1 class="animate font-semibold text-black dark:text-white">
      박승준 · snjnpark
    </h1>
    <div class="space-y-8">
      <section>
        <article class="space-y-4">
          <span class="animate">
            <p>
              많은 경험을 하고 다양한 감정을 느끼더라도, 이를 기록하지 않으면 기억은 금세 사라지고 필요할 때 꺼내 쓸 수 없습니다.</br>
              수 많은 아이디어를 지나가지 않게 붙잡아두고 싶어 순간을 기록하고자 합니다.
            </p>
          </span>

          </span>
        </article>
      </section>

      <h1 class="animate font-semibold text-black dark:text-white">
        Work experience
      </h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span class="animate">
              <li>
                내용1: (0000.00 ~ 0000.00)
              </li>
              <li>
                내용1: (0000.00 ~ 0000.00)
              </li>
            </span>
          </article>
        </section>
        
      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">Latest posts</h2>
          <Link href="/blog"> See all posts </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="font-semibold text-black dark:text-white">
            Recent projects
          </h2>
          <Link href="/projects"> See all projects </Link>
        </div>
        <ul class="not-prose flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h2 class="font-semibold text-black dark:text-white">찾아와주셔서 감사합니다.</h2>
        <article>
          <p>
            제 사이트를 찾아와주시고 살펴봐주셔서 감사합니다. </br>
            하단 소셜 미디어, 또는 이메일을 통해 연락할 수 있습니다. </br>
        </article>
        <ul class="not-prose flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.TITLE}`}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</Layout>
